@font-face {
  font-family: 'Modum';
  src: url('~@/assets/fonts/Modum/Modum-400.otf') format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Modum';
  src: url('~@/assets/fonts/Modum/Modum-500.otf') format('otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Modum';
  src: url('~@/assets/fonts/Modum/Modum-700.otf') format('otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Modum';
  src: url('~@/assets/fonts/Modum/Modum-700-italic.otf') format('otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bloom';
  src: url('~@/assets/fonts/Bloom/Bloom-700-italic.otf') format('otf');
  font-weight: 700;
  font-style: italic;
}
